<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- <configuration> : -->
<configuration>
	<!-- <typeAliases> : vo객체의 이름을 짧게 할려고 함 -->
	<typeAliases>
		<typeAlias type="vo.BoardVO" alias="bvo" />
		<typeAlias type="vo.BonsaVO" alias="bonvo" />
		<typeAlias type="vo.ChaVO" alias="chavo" />
		<typeAlias type="vo.CommVO" alias="commvo" />
		<typeAlias type="vo.MemVO" alias="memvo" />
		<typeAlias type="vo.PageVO" alias="pagevo" />
		<typeAlias type="vo.ProductVO" alias="provo" />
		<typeAlias type="vo.SalesCheckVO" alias="schkvo" />
		<typeAlias type="vo.ShopHotkeyVO" alias="shotvo" />
		<typeAlias type="vo.ShopVO" alias="shvo" />
		<typeAlias type="vo.SmangVO" alias="smangvo" />
		<typeAlias type="vo.StaffVO" alias="staffvo" />
	</typeAliases>
	<!-- defailt와 id를 비워둘수는 있지만 지울수는 없다 -->
	<environments default="">
		<environment id="">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/myora" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/boardsql.xml" />
		<mapper resource="mapper/commsql.xml" />
		<mapper resource="mapper/membersql.xml" />
		<mapper resource="mapper/shopcomm.xml" />
	</mappers>
</configuration>